<html>
    <head>
        <title>404 Not Found</title>
        <script type="text/javascript">
        try
        {
            var t = document.getElementById("tipLayer"); 
            var b = document.getElementById("blackMask");
            if(t!=null)
            {
               t.style.display="none";
            }
            if(b!=null)
            {
               b.style.display="none";
            }
        }
        catch(err)
        {
        }

        /* 需要重新刷新界面 */
        top.location.href = top.location.href;
        </script>
    </head>
    <body bgcolor="#FFFFFF" text="#000000" link="#2020ff" vlink="#4040cc">
        <h2>404 Not Found</h2>
        <span>The requested URL was not found on this server.</span>
        <div style="display:none">
            <span>Padding so that MSIE deigns to show this error instead of its own canned one.</span>
            <span>Padding so that MSIE deigns to show this error instead of its own canned one.</span>
            <span>Padding so that MSIE deigns to show this error instead of its own canned one.</span>
            <span>Padding so that MSIE deigns to show this error instead of its own canned one.</span>
            <span>Padding so that MSIE deigns to show this error instead of its own canned one.</span>
            <span>Padding so that MSIE deigns to show this error instead of its own canned one.</span>
        </div>
        <hr/>
    </body>
</html>
